In [20]:
import pandas_gbq

# TODO: Set project_id to your Google Cloud Platform project ID.
project_id = "still-crow-285606"

sql = """
SELECT *
FROM `gdelt-bq.gdeltv2.events`
WHERE EventBaseCode = '175' AND ActionGeo_ADM1Code = 'FR00' AND Year = 2019
"""
df = pandas_gbq.read_gbq(sql, project_id=project_id)

какой-то текст

* со
* списком

и 

заголовком
----------

In [40]:
import re
def extract_domain(row):
    value = re.sub('https?://', '', row['SOURCEURL'])
    return re.sub(r'/.*', '', value)
    

df['DOMAIN'] = df.apply(extract_domain, axis=1)
df

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL,DOMAIN
0,858781056,20190712,201907,2019,2019.5260,COP,POLICE,None,None,None,...,"Paris, France (general), France",FR,FR00,16282,48.8667,2.33333,-1456928,20190712160000,https://www.ilprimatonazionale.it/esteri/franc...,www.ilprimatonazionale.it
1,858919338,20190713,201907,2019,2019.5288,OPP,PROTESTER,None,None,None,...,"Paris, France (general), France",FR,FR00,16282,48.8667,2.33333,-1456928,20190713080000,https://www.index.hr/vijesti/clanak/veliki-pro...,www.index.hr
2,858794673,20190712,201907,2019,2019.5260,FRA,PARIS,FRA,None,None,...,"Paris, France (general), France",FR,FR00,16282,48.8667,2.33333,-1456928,20190712173000,http://en.rfi.fr/africa/20190712-undocumented-...,en.rfi.fr
3,858850306,20190712,201907,2019,2019.5260,CVL,MIGRANT,None,None,None,...,"Paris, France (general), France",FR,FR00,16282,48.8667,2.33333,-1456928,20190712233000,https://ria.ru/20190713/1556481692.html,ria.ru
4,858916531,20190713,201907,2019,2019.5288,FRA,PARIS,FRA,None,None,...,"Paris, France (general), France",FR,FR00,16282,48.8667,2.33333,-1456928,20190713080000,https://www.asianage.com/world/europe/130719/n...,www.asianage.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628,842344161,20190502,201905,2019,2019.3342,OPP,PROTESTER,None,None,None,...,"Paris, France (general), France",FR,FR00,16282,48.8667,2.33333,-1456928,20190502030000,https://www.thesun.co.uk/news/8985010/princess...,www.thesun.co.uk
1629,842344855,20190502,201905,2019,2019.3342,COP,POLICE,None,None,None,...,"Paris, France (general), France",FR,FR00,16282,48.8667,2.33333,-1456928,20190502024500,https://www.20minutes.fr/societe/2508775-20190...,www.20minutes.fr
1630,842639580,20190503,201905,2019,2019.3370,FRA,FRANCE,FRA,None,None,...,"Paris, France (general), France",FR,FR00,16282,48.8667,2.33333,-1456928,20190503061500,https://cincodias.elpais.com/cincodias/2019/05...,cincodias.elpais.com
1631,842648226,20190503,201905,2019,2019.3370,OPP,PROTESTER,None,None,None,...,"Paris, France (general), France",FR,FR00,16282,48.8667,2.33333,-1456928,20190503073000,https://www.eureporter.co/frontpage/2019/05/03...,www.eureporter.co
1632,842203723,20190501,201905,2019,2019.3315,COP,POLICE,None,None,None,...,"Paris, France (general), France",FR,FR00,16282,48.8667,2.33333,-1456928,20190501151500,https://www.thelocal.es/20190501/hundreds-of-v...,www.thelocal.es

In [41]:

domain_and_tone = df.loc[:, ['DOMAIN', 'AvgTone']]
domain_and_tone

                         DOMAIN    AvgTone
0     www.ilprimatonazionale.it  -4.878049
1                  www.index.hr  -7.984791
2                     en.rfi.fr  -6.934307
3                        ria.ru  -4.065041
4              www.asianage.com -12.096774
...                         ...        ...
1628           www.thesun.co.uk  -9.604191
1629           www.20minutes.fr  -4.993910
1630       cincodias.elpais.com  -1.560468
1631          www.eureporter.co  -8.214286
1632            www.thelocal.es  -1.606426

[1633 rows x 2 columns]

In [43]:
domain_and_tone = domain_and_tone.groupby('DOMAIN').mean().sort_values('AvgTone')
# tones = df.groupby('DOMAIN').mean().sort_values('AvgTone')['AvgTone']


# import matplotlib.pyplot as plt
# plt.close('all')

# tones.plot.barh()
domain_and_tone.to_csv("/tmp/1.csv")